{% extends 'main.html' %}

{% block content %}
<main class="">
    <section class="flex justify-center items-center">
        <header class="w-[616px] fixed bg-gray-800  top-0 flex p-4 text-white gap-3 px-10">
            <img src="{{receiver.profile.url}}" class="aspect-square object-cover w-20 rounded-full" />
            <div class="flex flex-col justify-center">
                <a href="{% url 'user-page' receiver.username %}" class="hover:underline">@{{ receiver.username }}</a>
                <p class="text-xs opacity-40">{{ receiver.name }}</p>
            </div>
        </header>

        <div id="messages-parent" class="mt-28 p-5 h-full w-full flex flex-col gap-5 mb-20">
            {% for chat_message in chat_messages %}
                {% if chat_message.sender != user %}
                <div class="receive flex w-[320px] items-start gap-2.5 self-start">
                    <img class="w-8 h-8 rounded-full aspect-square object-cover" src="{{receiver.profile.url}}" alt="Jese image">
                    <div class="flex flex-col gap-1 w-full max-w-[320px]">
                        <div class="flex items-center space-x-2 rtl:space-x-reverse">
                            <span class="text-sm font-semibold text-gray-900 dark:text-white">{{receiver.name}}</span>
                            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{chat_message.createdAt|date:"H:i"}}</span>
                        </div>
                        <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-900">
                            <p class="text-sm font-normal text-gray-900 dark:text-white">{{chat_message.message}}</p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="send flex w-[320px] items-start self-end flex flex-row-reverse gap-2.5">
                    <img class="w-8 h-8 rounded-full float-right aspect-square object-cover" src="{{user.profile.url}}" alt="">
                    <div class="flex flex-col gap-1">
                        <div class="flex self-end items-center space-x-2 rtl:space-x-reverse">
                            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{chat_message.createdAt|date:"H:i"}}</span>
                            <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ user.name }}</span>
                        </div>
                        <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-l-xl rounded-r-xl rounded-tr-none dark:bg-gray-900">
                            <p class="text-sm font-normal text-gray-900 dark:text-white">{{chat_message.message}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <form id="message-form" class="fixed bottom-10 m-auto flex justify-center items-center">
            <div class="px-4 py-2 bg-gray-800 flex h-14 max-h-32 justify-center w-[400px] rounded-xl gap-2 items-center">
                <textarea id="message-box" type="text" class=" resize-none outline-none bg-transparent  max-h-full w-full text-white" placeholder="Write New Message"></textarea>
                <button type="submit">
                    <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/ffffff/sent.png" alt="sent"/>
                </button>
            </div>
        </form>
    </section>
    
</main>
<script>
    window.scrollTo(0, document.body.scrollHeight);
    const chatSocket = new WebSocket("ws://" + window.location.host + "/chats/{{room_name}}/");
      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };
      chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
      };
      document.getElementById("message-form").addEventListener("submit" , function(e){
        e.preventDefault()
        const textMessage = document.getElementById("message-box").value
        chatSocket.send(JSON.stringify({
            message: textMessage,
            sender: "{{user.username}}"
        }))
      })

    // listens for response from server
      chatSocket.addEventListener("message" , e =>{
        const data = JSON.parse(e.data)["data"]
        let sender = data["sender"]
        let message = data["message"]

        if (sender == '{{user.username}}') {
            document.getElementById("message-box").value = ""
        }

        // showing messages
        const receiveElement =`
        <div class="receive flex w-[320px] items-start gap-2.5 self-start">
                <img class="w-8 h-8 rounded-full aspect-square object-cover" src="{{receiver.profile.url}}" alt="Jese image">
                <div class="flex flex-col gap-1 w-full max-w-[320px]">
                    <div class="flex items-center space-x-2 rtl:space-x-reverse">
                        <span class="text-sm font-semibold text-gray-900 dark:text-white">{{receiver.name}}</span>
                        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">11:46</span>
                    </div>
                    <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-900">
                        <p class="text-sm font-normal text-gray-900 dark:text-white">${message}</p>
                    </div>
                </div>
        </div>`

        const sendElement = `
            <div class="send flex w-[320px] items-start self-end flex flex-row-reverse gap-2.5">
                <img class="w-8 h-8 rounded-full float-right aspect-square object-cover" src="{{user.profile.url}}" alt="">
                <div class="flex flex-col gap-1">
                    <div class="flex self-end items-center space-x-2 rtl:space-x-reverse">
                        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">11:58</span>
                        <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ user.name }}</span>
                    </div>
                    <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-l-xl rounded-r-xl rounded-tr-none dark:bg-gray-900">
                        <p class="text-sm font-normal text-gray-900 dark:text-white">${message}</p>
                    </div>
                </div>
            </div>
        `

        var messageParent = document.getElementById("messages-parent")
        if (sender != '{{user.username}}') {
            messageParent.innerHTML += receiveElement
        }
        else{
            console.log(message)
            messageParent.innerHTML += sendElement
        }
        window.scrollTo(0, document.body.scrollHeight);
    })
</script>
{% endblock content %}