{% extends 'main.html' %}

{% block content %}
<main class="text-white">
    <header class="flex pb-5 border-b-2 border-gray-600 justify-center items-center">
        {% for follow_instance in available_users_to_chat %}
            <form method="post" action="">
                {% csrf_token %}
                <input type="text" name="receiver" hidden value="{{follow_instance.following.id}}" />
                <button class="flex hover:bg-gray-600 w-28 cursor-pointer rounded-lg p-2 flex-col justify-center items-center" type="submit">
                    <img class="aspect-square object-cover w-14 rounded-full" src="{{follow_instance.following.profile.url}}" />
                    <p class="text-gray-200 text-xs opacity-50">{{ follow_instance.following.name }}</p>
                    <a href="{% url 'user-page' follow_instance.following.username  %}" class="text-medium hover:underline">@{{ follow_instance.following.username }}</a>
                </button>
            </form>
        {% endfor %}
    </header>
    <section class="">
            {% if message %}
            <div class="flex items-center gap-2 hover:bg-gray-800 px-5 py-2 cursor-pointer transition-all border-b-2 border-gray-600 hover:border-none">
                {% if message.room.receiver.id != user.id %}
                    <img class="aspect-square w-16 rounded-full object-cover" src="{{message.room.receiver.profile.url}}" alt="">
                    <div class="flex flex-col justify-center w-full">
                        <a href="{% url 'user-page' message.room.receiver.username %}" class="text-lg hover:underline">@{{ message.room.receiver.username }}</a>
                        <p class="opacity-50 text-sm">{{ message.room.receiver.name }}</p>
                    </div>
                    <div class="flex flex-col w-full">
                        <p class="opacity-50 text-sm self-end">{{ message.createdAt|date:"H:i" }}</p>
                        <p class="w-full">{{ message.message }}</p>
                    </div>
                {% else %}
                    <img class="aspect-square w-16 rounded-full object-cover" src="{{message.room.sender.profile.url}}" alt="">
                    <div class="flex flex-col justify-center w-full">
                        <a href="{% url 'user-page' message.room.sender.username %}" class="text-lg hover:underline">@{{ message.room.sender.username }}</a>
                        <p class="opacity-50 text-sm">{{ message.room.sender.name }}</p>
                    </div>
                    <div class="flex flex-col w-full">
                        <p class="opacity-50 text-sm self-end">{{ message.createdAt|date:"H:i" }}</p>
                        <p class="w-full">{{ message.message }}</p>
                    </div>
                {% endif %}
            </div>
            {% endif %}
    </section>
</main>

{% endblock content %}