{% extends 'main.html' %}

{% block content %}
<main class="text-white">
    <header class="flex pb-5 border-b-2 border-gray-600 justify-center items-center">
        {% for follow_instance in available_users_to_chat %}
            <form method="post" action="">
                {% csrf_token %}
                <input type="text" name="receiver" hidden value="{{follow_instance.following.id}}" />
                <button class="flex hover:bg-gray-600 w-28 cursor-pointer rounded-lg p-2 flex-col justify-center items-center" type="submit">
                    <img class="aspect-square object-cover w-14 rounded-full" src="{{follow_instance.following.profile.url}}" />
                    <p class="text-gray-200 text-xs opacity-50">{{ follow_instance.following.name }}</p>
                    <a href="{% url 'user-page' follow_instance.following.username  %}" class="text-medium hover:underline">@{{ follow_instance.following.username }}</a>
                </button>
            </form>
        {% endfor %}
    </header>
    <section class="">
            {% for chat in chats %}
            <a href="{% url 'chat-room' chat.name %}" class="flex items-center gap-2 hover:bg-gray-800 px-5 py-2 cursor-pointer transition-all border-b-2 border-gray-600 hover:border-none">
                {% if chat.receiver.id != user.id %}
                    <img class="aspect-square w-16 rounded-full object-cover" src="{{chat.receiver.profile.url}}" alt="">
                    <div class="flex flex-col justify-center w-full">
                        <p class="text-lg">@{{ chat.receiver.username }}</p>
                        <p class="opacity-50 text-sm">{{ chat.receiver.name }}</p>
                    </div>
                    <div class="flex flex-col w-full">
                        <p class="opacity-50 text-sm self-end">{{ chat.message_set.last.createdAt|date:"H:i" }}</p>
                        <p class="w-full line-clamp-1">{{ chat.message }}</p>
                    </div>
                {% else %}
                    <img class="aspect-square w-16 rounded-full object-cover" src="{{chat.sender.profile.url}}" alt="">
                    <div class="flex flex-col justify-center w-full">
                        <p class="text-lg">@{{ chat.sender.username }}</p>
                        <p class="opacity-50 text-sm">{{ chat.sender.name }}</p>
                    </div>
                    <div class="flex flex-col w-full">
                        <p class="opacity-50 text-sm self-end">{{ chat.message_set.last.createdAt|date:"H:i" }}</p>
                        <p class="w-full line-clamp-1">
                            {% if chat.message_set.last.sender == user %}
                            {{ chat.message_set.last.message }} (You Sent)
                            {% else %}
                            {{ chat.message_set.last.message }}
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </a>
            {% endfor %}
    </section>
</main>

{% endblock content %}