{% extends 'main.html' %}

{% block content %}
<h1 class="text-2xl text-center font-medium text-white mt-10">Set Your New Password</h1>
<form action="" method="post" class="flex flex-col text-white gap-10 py-10 justify-center items-center">
    {% csrf_token %}
    <div class="flex text-white gap-5 justify-center items-center">
        <div class="flex flex-col">
            <label for="oldPassword">Old Password</label>
            <input type="password" id="oldPassword" name="oldPassword" class="bg-transparent border-2 border-gray-400 outline-none rounded-lg px-4 py-1" />
        </div>
        <div class="flex flex-col">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="bg-transparent border-2 border-gray-400 outline-none rounded-lg px-4 py-1" />
        </div>
    </div>
    <button class="text-white bg-green-600 rounded-lg px-4 py-2">Change Password</button>
</form>
{% endblock content %}
