<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load customTemplateTags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if htmlTitle %}{{ htmlTitle }}{% else %}RoachGram{%endif%}</title>
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="feed h-full bg-gray-700  scroll-smooth">
    

    {% if messages %}
        <script>
            setTimeout(() => {
                const alerts = document.querySelectorAll(".alert")
                alerts.forEach(alert => {
                    alert.classList.remove("show")
                    alert.classList.add("hide")
                })
            }, 3000);
        </script>
        <ul class="fixed z-50">
        {% for message in messages %}
            <li class="alert {{ message.tags }} z-100 capitalize mt-20 text-white rounded-lg flex h-fit  absolute show flex-row items-center justify-center w-80 text-center px-5 py-2 block">{{message}}</li>
            <br>
            <br>
            <br>
        {% endfor %}
        </ul>
    {% endif %}
<style>
  html,body { height: 100%; margin: 0px; padding: 0px; }
    ::-webkit-scrollbar {
        width: 5px;
    }
 
    ::-webkit-scrollbar-track {
        background-color: gray;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: white; 
    }
</style>

<script src="{% static 'imagePreview.js' %}"></script>
<div class="overflow-hidden">
    <div class="flex h-full divide-x-2 divide-gray-600">

        <div class="w-2/5 text-white pl-32 py-4">
            <!--left menu-->
        
          
          <div class="fixed">
            <nav class="mt-5 px-2 flex flex-col">
              <button onclick="clickedOnRoutButton(this.children)">
                  <a href="{% url 'home-page' %}" id="home" class="group route flex items-center px-2 py-2 text-base leading-6 font-semibold rounded-full hover:bg-gray-800 hover:text-gray-300">
                      <svg class="mr-4 h-8 w-8 " stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6"/>
                      </svg>
                      Home
                  </a>
              </button>
              <button onclick="clickedOnRoutButton(this.children)">
                  <a id="chat" href="{% url 'chat-page' %}" class="mt-1 group flex items-center route px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-gray-800 hover:text-gray-300">
                      <svg class="mr-4 h-8 w-8" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
                      Chats
                    </a>
              </button>
              <button onclick="clickedOnRoutButton(this.children)">
                
                <a id="notifications" href="{% url 'notification-page' %}" class="mt-1 group relative flex items-center route px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-gray-800 hover:text-gray-300">
                  <svg class="mr-4 h-8 w-8" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg>
                  Notifications
                  <span class="bg-red-600 hidden absolute top-2 left-6 w-4 h-4 rounded-full text-xs text-white bg-opacity-90 flex justify-center items-center" id="notification-counter"></span>
                </a>
              </button>
              <button onclick="clickedOnRoutButton(this.children)">
                  <a id="bookmarks" href="{% url 'bookmark-page' %}" class="mt-1 group flex items-center route px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-gray-800 hover:text-gray-300">
                      <svg class="mr-4 h-8 w-8" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path></svg>
                      Bookmarks
                    </a>
              </button>
                  <button onclick="clickedOnRoutButton(this.children)">
                      <a id="profile" href="{% url 'user-page' user.username %}" class="mt-1 route group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-gray-800 hover:text-gray-300">
                          <svg class="mr-4 h-8 w-8" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                          Profile
                        </a>
                  </button>
            </nav>
                
          <div class="flex-shrink-0 absolute left-0 flex hover:bg-gray-00 justify-center items-c rounded-full p-4 mt-12 mr-2">
            <a href="{% url 'user-page' username=user.username %}" class="flex-shrink-0 group block">
              <div class="flex items-center">
                <div>
                  <img class="inline-block h-10 w-10 aspect-square object-cover rounded-full" src="{{user.profile.url}}" alt="" />
                </div>
                <div class="ml-3 flex justify-center items-center gap-10">
                  <div>
                    <p class="text-base leading-6 font-medium text-white">
                      {{user.name}}
                    </p>
                    <p class="text-sm leading-5 font-medium text-gray-400 hover:text-gray-300 transition ease-in-out duration-150">
                      @{{user.username}}
                    </p>
                  </div>
                  <div>
                    <form action="{% url 'logout-user' %}" method="post">
                      {% csrf_token %}
                      <button class="px-4 py-2 bg-red-600 font-medium hover:bg-red-800 text-white rounded-full" type="submit">Logout</button>
                    </form>
                  </div>
                </div>
              </div>
            </a>
          </div>
    </div>
          
    </div>

        <div class="w-3/5 h-auto">
            
            {% block content %}
            {% endblock content %}
        </div>


        <div class="divide-x-2 divide-gray-600">
          <div class="h-full">
            <!--right menu-->

            <div class="relative text-gray-300 w-[400px] p-5 pb-0 mr-16">
                <button type="submit" class="absolute ml-4 mt-3 mr-4">
                    <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
                      <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
                    </svg>
                  </button>
                
                <form action="{% url 'search-page' %}">
                  <input type="search" name="q" placeholder="Search . . ." class="bg-gray-800 h-10 px-10 pr-5 w-full rounded-full text-sm focus:outline-none bg-purple-white shadow rounded border-0">
                </form>
                
            </div>
    
            <div class="max-w-sm rounded-lg bg-gray-800 overflow-hidden shadow-lg m-4 mr-20">
                <div class="flex">
                    <div class="flex-1 m-2">
                        <h2 class="px-4 py-2 text-xl w-48 font-semibold text-white">Who to follow</h2>
                    </div>
                </div>


                <hr class="border-gray-600">

                    <!--first person who to follow--> 
                {% suggestedUsers user as usersToFollow %}
                {% for userToFollow in usersToFollow %}
                <div class="flex flex-shrink-0 py-3">
                  <div class="flex-1 ">
                    <div class="flex items-center w-48">
                        <div>
                          <img class="inline-blocka aspect-square object-cover h-10 w-auto rounded-full ml-4 mt-2" src="{{userToFollow.profile.url}}" alt="" />
                        </div>
                        <a href="{% url 'user-page' username=userToFollow.username %}" class="ml-3 mt-3">
                          <p class="text-base leading-6 font-medium text-white">
                            {{userToFollow.name}}
                          </p>
                          <p class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                            @{{userToFollow.username}}
                          </p>
                        </a>
                      </div>
                    
                  </div>
                  <div class="flex-1 px-4 py-2 m-2">
                    {% followedTheUser user userToFollow as isFollowingTheUser %}
                    {% if not isFollowingTheUser %}
                    <form method="post" onsubmit="sendNotif('{{userToFollow.username}}' , 'follow')" action="{% url 'follow-user' username=userToFollow.username %}" class=" float-right">
                      {% csrf_token %}
                      <button href="" class="w-28 bg-white hover:bg-gray-500 text-black font-semibold hover:text-black py-2 px-4 border border-white hover:border-transparent rounded-full">
                        Follow
                      </button>  
                    </form>
                    {% else %}
                    <form method="post" action="{% url 'unfollow-user' username=userToFollow.username %}" class=" float-right">
                      {% csrf_token %}                      
                      <button href="" class="w-28 bg-transparent hover:bg-gray-500 text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded-full">
                        Unfollow
                      </button>  
                    </form>
                    {% endif %}
                  </div>
                </div>
                <hr class="border-gray-600">
                {% endfor %}
        </div>
      </div>
    
</div>
{% if user.is_authenticated %}
<script>
  let notificationCount = localStorage.getItem("notif_count") ? Number(localStorage.getItem("notif_count")) : 0
  const notifSocket = new WebSocket("ws://" + window.location.host + "/notification/{{user.username}}/")
  notifSocket.onopen = (e) =>{
    console.log("notif socket is open")
  }
  notifSocket.onclose = (e) => {
    console.log("notif socket is close")
  }

  const notifCounter = document.getElementById("notification-counter")

  if (notificationCount == 0){
    notifCounter.classList.add("hidden")
  }

  if (notificationCount > 0){
    notifCounter.classList.remove("hidden")
    notifCounter.textContent = notificationCount
  }

  notifSocket.addEventListener("message" , e => {
    notificationCount++
    localStorage.setItem("notif_count" , notificationCount)
    data = JSON.parse(e.data)
    if (notificationCount > 0){
      notifCounter.classList.remove("hidden")
      notifCounter.textContent = notificationCount
    }
  })

  const sendNotif = (userToNotif , type) =>{
    if (userToNotif == '{{user.username}}') return
    notifSocket.send(JSON.stringify({
      type: type,
      triggered_by: "{{user.username}}",
      user_to_notif: userToNotif
    }))
  }


  const url = window.location.href
  const homeButton = document.getElementById("home")
  const chatButton = document.getElementById("chat")
  const notificationsButton = document.getElementById("notifications")
  const bookmarkButton = document.getElementById("bookmarks")
  const profileButton = document.getElementById("profile")

  switch (true){
    case url.includes("chats"):
      homeButton.classList.remove("bg-gray-800")
      bookmarkButton.classList.remove("bg-gray-800")
      profileButton.classList.remove("bg-gray-800")
      notificationsButton.classList.remove("bg-gray-800")
      chatButton.classList.add("bg-gray-800")
      break
    case url.includes("{{user.username}}"):
      homeButton.classList.remove("bg-gray-800")
      bookmarkButton.classList.remove("bg-gray-800")
      notificationsButton.classList.remove("bg-gray-800")
      chatButton.classList.remove("bg-gray-800")
      profileButton.classList.add("bg-gray-800")
      break
    case url.includes("mybookmarks"):
      homeButton.classList.remove("bg-gray-800")
      notificationsButton.classList.remove("bg-gray-800")
      chatButton.classList.remove("bg-gray-800")
      profileButton.classList.remove("bg-gray-800")
      bookmarkButton.classList.add("bg-gray-800")
      break
    case url.includes("notifications"):
      homeButton.classList.remove("bg-gray-800")
      chatButton.classList.remove("bg-gray-800")
      profileButton.classList.remove("bg-gray-800")
      bookmarkButton.classList.remove("bg-gray-800")
      notificationsButton.classList.add("bg-gray-800")
      break
    default:
      chatButton.classList.remove("bg-gray-800")
      profileButton.classList.remove("bg-gray-800")
      bookmarkButton.classList.remove("bg-gray-800")
      notificationsButton.classList.remove("bg-gray-800")
      homeButton.classList.add("bg-gray-800")
      break
  }
  
</script>
{% endif %}

</body>
</html>