<script src="https://cdn.tailwindcss.com"></script>
<div class="container my-3 p-3">
    <div class="flex justify-center items-center">
        <div class="">
            <div class="shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="bg-green-300 px-10 py-10 rounded-lg text-xl mt-20 capitalize">
                    Your password has been set. You may go ahead and <a class="text-blue-600" href="{% url 'login-user' %}">Login Here</a>
                </div>
            </div>
        </div>
    </div>
</div>