{% load tailwind_filters %}
{% load crispy_forms_tags %}
<script src="https://cdn.tailwindcss.com"></script>
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="flex items-center justify-center mt-20">
                <div class="w-3/5 ">
                    {% if validlink %}
                        <div class="flex bg-gray-200 flex-col justify-center items-center shadow-lg border-0 rounded-lg mt-0 mb-3  px-20 py-10 rounded-xl">
                            <div class="card-header justify-content-center">
                              <h3 class="text-3xl my-4 text-center">Reset Your Password</h3>
                            </div>
                            <form class="flex  flex-col" action="" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="bg-blue-500 w-fit m-auto rounded-lg px-4 py-2 text-white" type="submit">
                                    Reset Password
                                </button>
                            </form>
                        </div>
                    {% else %}
                    <div class="text-red-600">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>