
{% load customTemplateTags %} 
<div class="flex flex-shrink-0 p-4 pb-0 ">

<div class="flex items-center ">
  <div>
    <img class="inline-block h-10 aspect-square object-cover w-10 rounded-full" src="{{post.user.profile.url}}" alt="" />
  </div>
  <div class="ml-3 flex  justify-between items-center gap-48">
    <a href="{% url 'user-page' username=post.user.username %}" class="text-base leading-6 font-medium text-white flex justify-center items-center">
      {{post.user.name}}
      <span class="text-sm leading-5 ml-0.5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
          @{{post.user.username}} . <span class="">{{post.createdAt|timesince|upto:','}}</span> ago
        </span>
    </a>
    {% if post.user.id == user.id %}
    <form method="post" action="{% url 'delete-post' pk=post.id %}">
      {% csrf_token %}
      <button class="hover:bg-red-100 transition rounded-full w-10 h-10 flex justify-center items-center">
        <img width="100" height="100" class="w-5" src="https://img.icons8.com/ios/100/EC0606/delete-forever--v1.png" alt="delete-forever--v1"/>
      </button>
    </form>  
    {% endif %}
  </div>
</div>

</div>
    <div class="pl-16 pr-10">
      <p class="text-base width-auto mb-2 text-white flex-shrink">
      {{post.caption|findMention|safe}}
      </p>
      
      
      <!-- grid gallery -->
      {% if post.get_media %}
      <div class="container px-5 py-2">
      <div class="-m-1 max-w-[500px] flex w-[500px] md:-m-2 justify-center">
        {% for media in post.get_media %}
        <div class="flex relative w-1/2 h-auto m-0.5 flex-wrap cursor-pointer">
          <div class="w-full w-auto h-auto">
            {% if media.get_type == "img" %}
              <img
                alt="gallery"
                class="h-full w-auto h-auto rounded-lg object-cover object-center"
                src="{{media}}" />
            {% else %}
              <video loop class="h-full w-auto h-auto rounded-lg object-cover object-center" controls>
                <source src="{{media}}" />
              </video>
      
            {% endif %}
          </div>             
        </div>
        {% endfor %}
      </div>
      </div>
      {% endif %}
      <!-- grid gallery end -->
      
      <div class="flex">
        <div class="w-full">
            
            <div class="flex items-center pl-16">
                <div class="flex-1 text-center">
                    <button type="submit" class="w-12 flex flex-col justify-center items-center mt-1 group flex items-center text-gray-500 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-gray-800 hover:text-gray-300">
                        <svg class="text-center h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg>
                        <p>{{post.get_comments_count}}</p>
                      </button>
                </div>
      
                <form method="post" action="{% url 'like-post' pk=post.id %}" class="flex-1 text-center py-2 m-2">
                  {% csrf_token %}  
                  {% liked user post as likedBefore %}
                  <button type="submit" class="w-12 mt-1 group flex flex-col items-center {% if likedBefore == True %} text-red-500 {% else %} text-gray-500 {% endif %} px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-gray-800 hover:text-gray-300">
                        <svg class="text-center h-7 w-6" fill="{% if likedBefore %} red {% else %} none {% endif %}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
                        <p>{{post.get_like_count}}</p>
                  </button>
                  
                </form>
                <form method="post" action="{% url 'bookmark-post' pk=post.id %}" class="flex-1 text-center py-2 m-2">
                  {% csrf_token %}
                  {% bookmarked user post as bookmaredBefore %}  
                  <button type="submit" class="w-12 mt-1 flex-col group {% if bookmaredBefore %} text-black {% else %} text-gray-500 {% endif %} flex items-center  px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-gray-800 hover:text-gray-300">
                      <svg class="text-center h-7 w-6" fill="{% if bookmaredBefore %} black {% else %} none {% endif %}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path></svg>
                      <p>{{post.get_bookmark_count}}</p>
                  </button>
                </form>
            </div>
  </div>


</div>

</div>
<hr class="border-gray-600">


